.BoardList {
    display: flex;
    margin-left: 20px;
}

.Loading {
    color: #00695f;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
}

.Loading div {
    color: #00695f;
}

.BoardList h2 {
    align-self: center;
    margin-right: 20px;
}