.Board, .BoardDark {
    padding: 15px;
    margin: 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.BoardDark {
    border: 1px solid #2f3437;
    background-color: #7d7d7d;
}

.BoardHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.BoardHeader div {
    display: flex;
}

.BoardHeader h1 {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.LeftRightButtons, .LeftRightButtonsDark {
    display: flex;
    justify-content: flex-end;
}

.LeftRightButtons button, .LeftRightButtonsDark button {
    margin: 2px;
}

.LeftRightButtons button, .LeftRightButtonsDark button {
    background: transparent !important;
    border: none;
    padding: 0;
}

.LeftRightButtonsDark button, .DeleteButtonDark {
    color: white;
}

.LeftRightButtons button:disabled, .LeftRightButtonsDark button:disabled {
    cursor: not-allowed;
    color: graytext;
}

.LeftRightButtons button:hover, .LeftRightButtonsDark button:hover {
    color: #33ab9f;
}

.LeftRightButtons button:disabled:hover, .LeftRightButtonsDark button:disabled:hover {
    color: graytext;
}

.ItemsList {
    overflow-y: auto;
    max-height: 450px;
}

.DeleteButton, .DeleteButtonDark {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    color: #c0bfbf;
}

.DeleteButton:hover {
    color: black;
}

.DeleteButtonDark:hover {
    color: #33ab9f
}