.Credits {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.Credits span {
    color: #e25555;
}

.Credits a:visited {
    color: black;
}

.Credits p {
    margin: 0;
}